<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goodjob.dao.IMemberDao99">
	<insert id="regMember">
		INSERT INTO member (username, mem_name, mem_tel, mem_email, mem_gender, mem_birth, mem_addr) 
		VALUES(#{username}, #{mem_name}, #{mem_tel}, #{mem_email}, #{mem_gender}, #{mem_birth}, #{mem_addr})
	</insert>
</mapper>