<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goodjob.dao.IUserDao99">
	<insert id="regUser">
		INSERT INTO user (username, password, role) VALUES(#{username}, #{password}, #{role})
	</insert>
	<select id="userLogin">
		SELECT COUNT(*) FROM USER WHERE username = #{username} AND PASSWORD = #{password}
	</select>
	<select id="getRole">
		SELECT ROLE FROM user WHERE username = #{username} AND PASSWORD = #{password}
	</select>
</mapper>