<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.goodjob.dao.ResumeDao">
  
  	<insert id="resumeWrite" parameterType="com.example.goodjob.dto.ResumeDto" useGeneratedKeys="true" keyProperty="resume_no">
  		insert into resume (mem_no, title, img_url, hope_job, hope_city, hope_pay,  military, port_url, growth, motive, personality)
  		values (#{mem_no}, #{title}, #{img_url}, #{hope_job}, #{hope_city}, #{hope_pay}, #{military}, #{port_url}, #{growth}, #{motive}, #{personality})
  	</insert>
  	
  	<select id="getList" resultType="com.example.goodjob.dto.ResumeDto">
  		select * from resume where mem_no = #{mem_no}
  	</select>
  	
  	<select id="getResumeDetail" resultType="com.example.goodjob.dto.ResumeDto">
  		select * from resume where resume_no = #{resume_no};
  	</select>
  
  </mapper>